body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea.form-control {
  background-color: #ff6961;
  color: white;
}

.saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveButton i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
